# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
   # 忽略所有 .zip, .tar.gz 等压缩包
   *.zip
   *.tar.gz
   *.7z

   # 忽略模型文件
   *.pth
   *.h5
   *.onnx
   *.bin

   # 忽略数据集目录
   /data/
   /datasets/

   # 忽略日志和缓存
   *.log
   __pycache__/
   *.cache

   # 忽略虚拟环境
   venv/
   env/
   .venv/
   